.flex-container-hero-text {
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10px;  
}

.flex-container-headings {
	display: flex;
	justify-content: left;
	padding: 10px;	
}

.flex-container-contact {
    display: flex;            
    justify-content: left; 
    align-items: center;
    gap: 20px;               
}

.flex-item-contact {
    padding: 10px;
}

.flex-container-badges {
	display: flex;            
  	justify-content: left; 
  	align-items: center;
  	gap: 20px;               
}

.flex-item-badges {
  	padding: 10px;
}

.flex-container-architecture-diagram {
	display: flex;
	justify-content: left;
	align-items: left;
	gap: 20px;
}

.flex-item-architecture-diagram {
	padding: 10px;
}


